@{
}

@model Crash

@*<h1>this the the crash summary</h1>*@
<div class="card card-outline-primary m-1 p-1">

    <div class="bg-light p-1">
        <h4>@Model.CRASH_ID - @Model.COUNTY_NAME</h4>

        <span class="badge bg-info text-light" style="float:left">
            Severity: @Model.CRASH_SEVERITY_ID
        </span>
    </div>


    <ul>

        <li>Time/Date: @Model.TIME @Model.DAY @Model.MONTH </li>

        <li>Lat/Long: @Model.LAT_UTM_Y, @Model.LONG_UTM_X</li>

        <li>Route: @Model.ROUTE</li>

        <li>Milepoint: @Model.MILEPOINT</li>

        <li>Road: @Model.MAIN_ROAD_NAME</li>

        <li>City: @Model.CITY</li>

    </ul>

    @*<form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />


        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>*@
</div>